{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Gestion plainte{% endblock %}</title>
    <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.png' %} " rel="icon">
  <link href="{% static 'img/apple-touch-icon.png' %} "  rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %} "  rel="stylesheet">
  <link href="{% static 'vendor/bootstrap-icons/bootstrap-icons.css' %} "  rel="stylesheet">
  <link href="{% static 'vendor/aos/aos.css' %} "  rel="stylesheet">
  <link href="{% static 'vendor/glightbox/css/glightbox.min.css' %} "  rel="stylesheet">
  <link href="{% static 'vendor/swiper/swiper-bundle.min.css' %} "  rel="stylesheet">

  <!-- Main CSS File -->
  <link href="{% static 'css/main.css' %} "  rel="stylesheet">

  <!-- =======================================================
  * Template Name: Company
  * Template URL: https://bootstrapmade.com/company-free-html-bootstrap-template/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
<style>
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }
  .logo{
    width: 200px; /* ou toute autre taille souhaitée */
    height: 70px;
    object-fit: contain;/* garde les proportions */
  }
  .navmenu{
    display: flex;
    gap: 36px;
    list-style: none;
}
.navmenu li a {
    text-decoration: none;
    color: black;
}
  
</style>
<body class="index-page">

    <header id="header" class="header">
          
            <img class="logo" src="{% static '/img/logo_wakh_sa_problemme.jpg' %}"   alt="">
            <!-- <h1 class="sitename">Company</h1><span>.</span> -->
          
    
          <nav id="navmenu" class="navmenu">
            <ul>
            
              {% if user.is_authenticated %}
              <li><a href="{% url 'acceuil' %}"class="active" style="text-decoration: none;">Acceuil</a></li>
              <li><a href="{% url 'index' %}" style="text-decoration: none;">Plaintes</a></li>
              <li><a href="{% url 'ajouter_plainte' %}" class="text-decoration-none">Deposer une plainte</a></li>
              <li><a href="{% url 'logout' %}" class="text-decoration-none">Déconnexion</a></li>
              {% else %}
              <li><a href="{% url 'connexion' %}" class="text-decoration-none">Connexion</a></li>
              <li><a href="{% url 'inscrire' %}" class="text-decoration-none">Inscription</a></li>
              {% endif %}
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
          </nav>
    
          <div class="header-social-links">
            <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
    
      </header>

      <div class="container mt-4">
        {% block content %}
        {% endblock %}
      </div>

    <!-- pieds de page -->
    <footer id="footer" class="footer dark-background">
      <div class="container copyright text-center mt-4">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Wakh Sa Problème</strong> <span>Tous droit reservé</span></p>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you've purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
          <!-- <p>Wakh Sa Problème</p> -->
        </div>
      </div>
  
    </footer>
  
    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
  
    <!-- Preloader -->
    <div id="preloader"></div>
  
    <!-- Vendor JS Files -->
     <div>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} " ></script>
    <script src="{% static 'vendor/php-email-form/validate.js' %} " ></script>
    <script src="{% static 'vendor/aos/aos.js' %} " ></script>
    <script src="{% static 'vendor/glightbox/js/glightbox.min.js' %} " ></script>
    <script src="{% static 'vendor/imagesloaded/imagesloaded.pkgd.min.js' %} " ></script>
    <script src="{% static 'vendor/isotope-layout/isotope.pkgd.min.js' %} " ></script>
    <script src="{% static 'vendor/waypoints/noframework.waypoints.js' %} " ></script>
    <script src="{% static 'vendor/swiper/swiper-bundle.min.js' %} " ></script>
      </div>
    <!-- Main JS File -->
    <div>
    <script src="{% static 'js/main.js' %} " ></script>
  </div>
</body>
</html>